

<script id="bootstrap-logo" type="text/javascript">
  window.logoUrl = `<%=image_url("logo.png")%>`
</script>

<script id="bootstrap-devices" type="text/javascript">
window.devicesUrl = `<%=image_url("devices.png")%>`
</script>

<main id="root"></main>