.browsebg{
    position: absolute;
    background-color: black;
    width: 100%;
    // height: 2300px;
    height: fit-content
}



.browsebanner{
    // position: relative;
    justify-content: center;
    width: 100%;
    height: 900px;
    // height: auto;
    padding-bottom: 20px;
    margin-bottom: -35px;
    zoom: 110%
}

.browsenav{
    padding-top: 5px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.browselogo{
    width: 110px;
    height: auto;
    margin-top: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.browsenavleft{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.browsenavlinkshome{
    color: #ffffff;
    font-size: 14.22px; 
    margin-left: 5px;
    padding-left: 20px;
     text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;
   
}

.browsenavlinks{
    color: #e5e5e5;
    font-size: 14.22px;
    font-family: Arial;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 20px;
     text-decoration: underline;
    text-decoration-color: transparent;
}

.browsenavleft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.searchicon{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 30px;
}

.browselogout{
    background-color:red;
    opacity: .9;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.carousel {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding-bottom: 200px;
}

.moviecontainer {
    display: flex;
    background-color: black;
    // margin-top: 50px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 22px;
    margin-bottom: 20px;
}



.movie {
    border-radius: 10px;
    height: 190px;
    width: 350px;
    box-sizing: border-box;
    display: inline-block;
    // padding-right: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-top: 15px;
    cursor: pointer;
    text-decoration: none;
    color: transparent;
    background-color:  #333333;
    p {
        visibility: hidden;
    }

}

.hide{
    display: none;
}



.movie:hover {
     transform: scale(1.0);
     transition: transform .25s;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: bottom;
    // height: 300px;
    // display: flex;
    // padding-left: 12px;
    // padding-bottom: 50px;
    // margin-bottom: 20px;
    // background-color: #353535;
    // color: black;
    // height: 300px;
    // padding-bottom: 75px; FOR SHADOW UNDER IMAGE 
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(248, 247, 247, 0.19);

    
}

.movie:hover + .hide { 
    overflow-wrap: break-word;
  padding: 10px;
        display: flex;
        color: white;
        overflow-wrap: break-word;
        padding: 10px;
    }


.playbutton{
    color: black;
    // justify-content: center;
    vertical-align: middle;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 106px;
    height: 39px;
    background-color: #ffffff;
    position: absolute;
    justify-content: center;
    margin-top: 500px;
    margin-left: 5.85%;
    border: none;
    border-radius: 4px;
    text-align: center; 
}

.playbutton:hover{
    opacity: .3;
    cursor: pointer;
}

.playicon{
    margin-top:4px;
    margin-bottom: -3px;
    padding-right: 2px;
}
