.browsebg{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 3500px;
}



.browsebanner{
    // position: relative;
    justify-content: center;
    width: 100%;
    // height: auto;
    padding-bottom: 20px;
    margin-bottom: -35px;
    
}

.browsenav{
    padding-top: 5px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.browselogo{
    width: 110px;
    height: auto;
    margin-top: 10px;
    margin-right: 12px;
    cursor: pointer;
}

.browsenavleft{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.browsenavlinkshome{
    color: #ffffff;
    font-size: 14.22px; 
    margin-left: 5px;
    padding-left: 20px;
     text-decoration: underline;
    text-decoration-color: transparent;
    font-weight: bold;
    font-family: Arial;
    margin-top: 5px;
   
}

.browsenavlinks{
    color: #e5e5e5;
    font-size: 14.22px;
    font-family: Arial;
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 20px;
     text-decoration: underline;
    text-decoration-color: transparent;
}

.browsenavleft{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.searchicon{
    color: white;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 100px;
}

.browselogout{
    background-color:red;
    opacity: .9;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 80px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.moviecontainer {
    display: flex;
    // margin-top: 50px;
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie {
    border-radius: 8px;
    height: 230px;
    width: 400px;
    box-sizing: border-box;
    display: inline-block;
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    cursor: pointer;
    
}

.movie:hover {
     transform: scale(1.0);
     transition: transform .25s;
    -webkit-transform: scale(1.2);
    -webkit-transform-origin: bottom;

}

.carousel {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.playbutton{
    color: black;
    // justify-content: center;
    vertical-align: middle;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: 106px;
    height: 39px;
    background-color: #ffffff;
    position: absolute;
    justify-content: center;
    margin-top: 31%;
    margin-left: 6.15%;
    border: none;
    border-radius: 4px;
    text-align: center; 
}

.playbutton:hover{
    opacity: .3;
    cursor: pointer;
}

.playicon{
    margin-top:4px;
    margin-bottom: -3px;
    padding-right: 2px;
}
