.container {
    height: 600px;
    width: 400px;
    background-color: black;
    margin: auto;
    margin-top: 30px;
  padding: 10px;
  opacity: .65;
}

.backgroundlogin{
    // display: block;
    // background-color: black;

    // border: solid rgba(120, 120, 120, 0.9);
    // border-width: 0 0 8px 0;
    // border-style: solid;

    background-image: image-url(banner);
    background-size: cover;
    background-repeat: no-repeat;
    height: 935px;
    // // width: auto;
    opacity: 0.6;

    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    
}