
h1 {
    color: white
}

.unlimited{
    text-align: center;
    font-size: 65px;
    font-family: arial;
    font-weight: bold;
    margin: 180px;
    opacity: 0.98
}

.watch-anywhere{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: arial;
    margin: -165px;
    opacity: 0.98
}

.ready{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: arial;
    margin-top: -110px;
    opacity: 0.98
}

.trial{
   
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Link{
//      background-color:red;
//     color: white;
//     line-height: normal;
//     padding: 7px 17px;
//     font-weight: 400;
//     font-size: 1rem;
//     position: absolute; right: 80px; top: 40px; 
//     border-radius: 5px;
//     border: none;
// }


.logo{
    width: 200px;
    height: auto;
    margin-left: 70px;
    margin-top: 30px;
}

.sign-in-button{
    background-color:red;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    position: absolute; right: 80px; top: 40px; 
    border-radius: 5px;
    border: none;
}

.sign-up{ //sign up form 
    // position: relative;
    text-align: center;
    input {
        height: 65px;
        width: 500px;
        margin-top: 250px;
        border: none;
    }
}


.banner{
    display: block;
    background-color: black;

    border: solid rgba(120, 120, 120, 0.9);
    border-width: 0 0 8px 0;
    border-style: solid;

    background-image: image-url(banner);
    background-size: cover;
    background-repeat: no-repeat;
    height: 747px;
    width: cover;
    opacity: 0.9;

    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-position: center;
    
}

input {
    height: 40px;
}

.free { //30 days free button
    height: 55x;
    text-justify: auto ;
    width: 330px;
    color: white;
    background-color: red ;
    // margin-right: 40px;
    border: none;
    margin-top: 5px;;
    font-size: 28px;
    padding-bottom: 22px;
    padding-top: 13px;
    font: Arial ;
  
    // bottom: 10;
    // position: relative;
}