
h1 {
    color: white
}



.unlimited{
    text-align: center;
    font-size: 65px;
    font-family: arial;
    font-weight: bold;
    margin: 180px;
    opacity: 0.98
}

.watch-anywhere{
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: arial;
    margin: auto;
     margin-top: -140px;
    // margin-left: ;
    // margin: -165px 100px 100px 880px;
    opacity: 0.98;
    width: 800px
}

.ready{
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: arial;
    margin-top: -110px;
    opacity: 0.98
}

.trial{
   
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Link{
//      background-color:red;
//     color: white;
//     line-height: normal;
//     padding: 7px 17px;
//     font-weight: 400;
//     font-size: 1rem;
//     position: absolute; right: 80px; top: 40px; 
//     border-radius: 5px;
//     border: none;
// }


.logo{
    width: 200px;
    height: auto;
    margin-left: 70px;
    margin-top: 30px;
}

.sign-in-button{
    background-color:red;
    color: white;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    position: absolute; right: 80px; top: 40px; 
    border-radius: 5px;
    border: none;
}

.sign-up{ //sign up form 
    // position: relative;
    text-align: center;
    input {
        height: 65px;
        width: 500px;
        margin-top: -105px;
        border: none;
    }
}

.blackbg{
    background-color: black;
    height: 100vh;
}

.banner{
    display: block;
    // background-color: black;

    outline: solid rgba(120, 120, 120, 0.35);
    outline-width: 8px;
    outline-style: solid;

    background-image: image-url(banner);
    background-size: cover;
    background-repeat: no-repeat;
    height: 747px;
    width: 100%;
    opacity: 0.9;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
}

input {
    height: 40px;
}

.free { //30 days free button
    height: 55x;
    text-justify: auto ;
    width: 330px;
    color: white;
    background-color: red ;
    // margin-right: 40px;
    border: none;
    margin-top: -50;
    display: inline-block;
    font-size: 28px;
    padding-bottom: 22px;
    padding-top: 18px;
    font: Arial ;
    // vertical-align: middle;
    // bottom: 10;
    // position: relative;
}

// .body{
//     display: block;
//     height: 707px;
//     width: auto;
//     background-color: black
// }

.subbar{
    background-color: black;
    width: 100%;
    display: flex;
     height: 465px; //used to be 450, testing to see if it works better
     border: 20px solid white;
    border: solid rgba(120, 120, 120, 0.3);
    border-width: 0 0 8px 0;
    border-style: solid;
      overflow: hidden;
  display: inline-block;
}

.enjoyontv{
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
    // text-align: center;
    margin-left: 26%;
    margin-top: 6%;
    margin-bottom: 1%;
    display: inline-block;
    // justify-content: center;
    // align-items: center;
//      overflow: hidden;
//   display: inline-block;
}

.watchon{
    color: white;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 26%;
    margin-top: -.25%;
    
//      overflow: hidden;
//   display: inline-block;
}

// .gifstyle{
//     display: inline-block;
//     margin-left: 59%;
//     width: 392px;
//     margin-top: -23%;
//       min-width: 400px; 
// }

.tvstyle{
    // display: flex;
    // margin-left: 55%;
    width: 23%;
    // margin: center;
    float: right;
    margin-top: -6.5%;
    margin-right: 25%;
    // min-width: 600px;
//   overflow: hidden;
//   display: inline-block;
}

.splashbottom {
//   border-top: 8px solid #b6b3b3;
//   margin-top: 13px;
float: bottom;
  opacity: 0.8;
//   color:  #b6b3b3;
//     color: rgba($color: #000000, $alpha: 1.0)
}

.splashenjoy{
    // display: block;
    // position: relative;
}

.splashfooter{
    // display: block;
    // position: absolute;
    // bottom: 0; 
    // margin-top: 50px;
    // margin-bottom: -40px;
    background-color: black;
    padding-top: 10px;;
}